<?xml version="1.0" encoding="utf-8" ?>
<configurationStrings>
  <add name="DbConnectionString" connectionString="SERVER=localhost; DATABASE=~; UID=~; PWD=~; TREAT TINY AS BOOLEAN=false; RESPECT BINARY FLAGS=false; ALLOW USER VARIABLES=true; DEFAULT COMMAND TIMEOUT=300;" />
  <add name="OtherSecret" connectionString="~"/>
</configurationStrings>