################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
.vs/
bin/
obj/
packages/
/config/Sensitive/*.config
/KiConsoleFramework/App.config
